<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns:th="http://www.thymeleaf.org"
	xmlns="http://www.w3.org/1999/html">
<head>
<link
	href="//netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css"
	rel="stylesheet" id="bootstrap-css">
<script
	src="//netdna.bootstrapcdn.com/bootstrap/3.0.3/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<link href="stile.css" rel="stylesheet" type="text/css">
<meta charset="UTF-8">
</head>
<body>
	<form th:action="@{/allievo}" method="POST" th:object="${allievo}">
		<div id="centrataLogin">
			<div class="container">
				<div class="row vertical-offset-100">
					<div class="col-md-4 col-md-offset-4">
						<div class="panel panel-default">
							<div class="panel-heading">
								<h3 class="panel-title">Inserisci le credenziali dell'allievo</h3>
							</div>
							<div class="panel-body">
								<fieldset>
									<div class="form-group">
										<input class="form-control"  th:field="*{nome}"
											type="text" placeholder="Nome"/>
										<span class="help-block" th:if="${#fields.hasErrors('nome')}" th:errors="*{nome}"></span>
									</div>
									<p>
									<div class="form-group">
										<input class="form-control"  th:field="*{cognome}"
											type="text" placeholder="Cognome"/>
										<span class="help-block" th:if="${#fields.hasErrors('cognome')}" th:errors="*{cognome}"></span>
									</div>
									<p>
									<div class="form-group">
										<input class="form-control" th:field="*{email}" type="text" placeholder="Email" />
										<span class="help-block" th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></span>
									</div>
									<p>
									<div class="form-group">
										<input class="form-control" th:field="*{telefono}" type="text" placeholder="Telefono" />
										<span class="help-block" th:if="${#fields.hasErrors('telefono')}" th:errors="*{telefono}"></span>
									</div>
									<p>
									<div class="form-group">
										<input class="form-control" type="text" placeholder="Data di nascita (gg/mm/aaaa)" th:field="*{dataNascita}">
										<span class="help-block" th:if="${#fields.hasErrors('dataNascita')}" th:errors="*{dataNascita}"></span> 
									</div>
									<p>
									<div class="form-group">
										<input class="form-control" type="text" placeholder="Luogo di nascita (Provincia)" th:field="*{luogoNascita}">
										<span class="help-block" th:if="${#fields.hasErrors('luogoNascita')}" th:errors="*{luogoNascita}"></span>
									</div>
									<input class="btn btn-lg btn-success btn-block" type="submit" value="Registra allievo">
									<span class="help-block" th:text="${esiste}"></span>
								</fieldset>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</form>
</body>
</html>