<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns:th="http://www.thymeleaf.org"
	xmlns="http://www.w3.org/1999/html">
<head>
<link
	href="//netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css"
	rel="stylesheet" id="bootstrap-css">
<script
	src="//netdna.bootstrapcdn.com/bootstrap/3.0.3/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<link href="stile.css" rel="stylesheet" type="text/css">
<meta charset="UTF-8">
</head>
<body>
	<form th:action="@{/attivita}" method="POST" th:object="${attivita}">
		<div id="centrataLogin">
			<div class="container">
				<div class="row vertical-offset-100">
					<div class="col-md-4 col-md-offset-4">
						<div class="panel panel-default">
							<div class="panel-heading">
								<h3 class="panel-title">Inserisci nome, codice, data e ora della nuova attività</h3>
							</div>
							<div class="panel-body">
								<fieldset>
									<div class="form-group">
										<input class="form-control"  th:field="*{nome}"
											type="text" placeholder="Nome"/>
										<span class="help-block" th:if="${#fields.hasErrors('nome')}" th:errors="*{nome}"></span>
									</div>
									<div class="form-group">
										<input class="form-control"  th:field="*{codice}"
											type="text" placeholder="Codice"/>
										<span class="help-block" th:if="${#fields.hasErrors('codice')}" th:errors="*{codice}"></span>
									</div>
									<div class="form-group">
										<input class="form-control"  th:field="*{data}"
											type="text" placeholder="Data attività (gg/mm/aaaa)"/>
										<span class="help-block" th:if="${#fields.hasErrors('data')}" th:errors="*{data}"></span>
									</div>
									<div class="form-group">
										<input class="form-control"  th:field="*{ora}"
											type="text" placeholder="Ora attività"/>
										<span class="help-block" th:if="${#fields.hasErrors('ora')}" th:errors="*{ora}"></span>
									</div>
									<input class="btn btn-lg btn-success btn-block" type="submit" value="Registra Attività">
									<span class="help-block" th:text="${esiste}"></span>
								</fieldset>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</form>
</body>
</html>