<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns:th="http://www.thymeleaf.org"
	xmlns="http://www.w3.org/1999/html">
<head>
<link
	href="//netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css"
	rel="stylesheet" id="bootstrap-css">
<script
	src="//netdna.bootstrapcdn.com/bootstrap/3.0.3/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<link href="stile.css" rel="stylesheet" type="text/css">
<meta charset="UTF-8">
</head>
<body>
	<div id="centrataLogin">
		<div class="container">
			<div class="row vertical-offset-100">
				<div class="col-md-4 col-md-offset-4">
					<div class="panel panel-default">
						<div class="panel-heading">
							<h3 class="panel-title">Lista allievi iscritti a questo corso</h3>
						</div>
						<div class="panel-body">
							<fieldset>
								<div class="form-group">
									<table>
										<tr th:each="allievo : ${allievi}">
											<td> - <a th:href="@{'/allievo' + '/' + ${allievo.telefono}}"><span
													th:text="${allievo.nome} + ' ' + ${allievo.cognome}"></span></a></td>
										</tr>
									</table>
								</div>
								<a th:href="@{/mainPage}"> Torna al menù principale</a>
							</fieldset>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</body>
</html>