<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Opzioni disponibili</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link
	href="//netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css"
	rel="stylesheet" id="bootstrap-css">
<script
	src="//netdna.bootstrapcdn.com/bootstrap/3.0.3/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<link href="stile.css" rel="stylesheet" type="text/css">
</head>
<body>
	<div id="centrataLogin">
		<div class="container">
			<div class="row vertical-offset-100">
				<div class="col-md-4 col-md-offset-4">
					<div class="panel panel-default">
						<div class="panel-heading">
							<h3 class="panel-title">Operazioni disponibili</h3>
						</div>
						<div class="panel-body">
							<p>
								<a th:href="@{/aggiungiAllievo}">Inserisci nuovo allievo nel
									sistema</a>
							<p>
								<a th:href="@{/rimuoviAllievo}">Cancella allievo dal sistema</a>
							<p>
								<a th:href="@{/associazioneAllievoAttività}">Registra un allievo
									ad una attività</a>
							<p>
								<a th:href="@{/aggiungiAttivita}">Aggiungi nuova attività nel sistema</a>
							<p>
								<a th:href="@{/allievi}">Mostra lista allievi iscritti nel
									sistema</a>
							<p>
								<a th:href="@{/listaAttivita}">Mostra lista attività presenti nel sistema</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</body>
</html>