<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns:th="http://www.thymeleaf.org"
	xmlns="http://www.w3.org/1999/html">
<head>
<link
	href="//netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css"
	rel="stylesheet" id="bootstrap-css">
<script
	src="//netdna.bootstrapcdn.com/bootstrap/3.0.3/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<meta charset="UTF-8">
<link href="/stile.css" rel="stylesheet" type="text/css">
</head>
<body>
	<form th:action="@{/mainPage}" method="GET">
		<div class="form-group">
			<div
				style="position: absolute; top: 30%; left: 17%; margin-top: -50px; margin-left: -50px; width: 100px; height: 100px;">
				<div class="container">
					<div class="row vertical-offset-100">
						<div class="col-md-4 col-md-offset-4">
							<div class="panel panel-default">
								<div class="panel-heading">
									<h3 class="panel-title">Dati attività</h3>
								</div>
								<div class="panel-body">
									<div class="form-group">
										<strong>Nome:</strong> <span th:text="${attivita.nome}"></span>
									</div>
									<div class="form-group">
										<strong>Codice:</strong> <span th:text="${attivita.codice}"></span>
									</div>
									<div class="form-group">
										<strong>Data:</strong> <span th:text="${attivita.data}"></span>
									</div>
									<div class="form-group">
										<strong>Ora:</strong> <span th:text="${attivita.ora}"></span>
									</div>
									<input class="btn btn-lg btn-success btn-block" type="submit"
										value="Torna alla pagina principale">
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</form>
</body>
</html>
