<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns:th="http://www.thymeleaf.org"
	xmlns="http://www.w3.org/1999/html">
<head>
<link
	href="//netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css"
	rel="stylesheet" id="bootstrap-css">
<script
	src="//netdna.bootstrapcdn.com/bootstrap/3.0.3/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<meta charset="UTF-8">
<link href="/stile.css" rel="stylesheet" type="text/css">
</head>
<body>
	<form th:action="@{/mainPage}" method="GET">
		<div class="form-group">
			<div
				style="position: absolute; top: 30%; left: 17%; margin-top: -50px; margin-left: -50px; width: 100px; height: 100px;">
				<div class="container">
					<div class="row vertical-offset-100">
						<div class="col-md-4 col-md-offset-4">
							<div class="panel panel-default">
								<div class="panel-heading">
									<h3 class="panel-title">Dati allievo</h3>
								</div>
								<div class="panel-body">
									 <div class="form-group">
										<strong>Nome:</strong> <span th:text="${allievo.nome}"></span>
									</div> 
									<p>
									<div class="form-group">
										<strong>Cognome:</strong> <span th:text="${allievo.cognome}"></span>
									</div>
									<p>
									<div class="form-group">
										<strong>Email:</strong> <span th:text="${allievo.email}"></span>
									</div>
									<p>
									<div class="form-group">
										<strong>Telefono:</strong> <span th:text="${allievo.telefono}"></span>
									</div>
									<p>
									<div class="form-group">
										<strong>Data di nascita:</strong> <span
											th:text="${allievo.dataNascita}"></span>
									</div>
									<p>
									<div class="form-group">
										<strong>Luogo di nascita:</strong> <span
											th:text="${allievo.luogoNascita}"></span>
									</div>
									<p>
										<input class="btn btn-lg btn-success btn-block" type="submit"
											value="Torna alla pagina principale">
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</form>
</body>
</html>
