<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns:th="http://www.thymeleaf.org"
	xmlns="http://www.w3.org/1999/html">
<head>
<link
	href="//netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css"
	rel="stylesheet" id="bootstrap-css">
<script
	src="//netdna.bootstrapcdn.com/bootstrap/3.0.3/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<link href="stile.css" rel="stylesheet" type="text/css">
<title>Rimozione allievo dal sistema</title>
</head>
<form th:action="@{/cancellaAllievo}">
	<div id="centrataLogin">
		<div class="container">
			<div class="row vertical-offset-100">
				<div class="col-md-4 col-md-offset-4">
					<div class="panel panel-default">
						<div class="panel-heading">
							<h3 class="panel-title">Inserisci il numero di telefono
								dell'allievo da eliminare</h3>
						</div>
						<div class="panel-body">
							<fieldset>
								<div class="form-group">
									<input class="form-control" name="telefono" type="text"
										placeholder="Telefono" /> <span class="help-block"
										th:text="${obbligatorio}"></span>
								</div>
								<input class="btn btn-lg btn-success btn-block" type="submit"
									value="Cancella allievo">
								<span class="help-block" th:text="${nonEsiste}"></span>
								<span class="help-block" th:text="${nonNumero}"></span>
							</fieldset>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</form>
</html>