body, html {
	height: 100%;
	margin: 0;
	background-image: url("img/background.jpg");
	background-size:100% 100%;
	background-repeat:no-repeat;
}

#centrata {
	width: 350px;
	height: 200px;
	position: absolute;
	top: 50%;
	left: 50%;
	margin: -150px 0 0 -590px;
}

#centrataLogin {
	width: 350px;
	height: 200px;
	position: absolute;
	top: 50%;
	left: 50%;
	margin: -290px 0 0 -590px;
}

#centrataMostra {
	width: 350px;
	height: 200px;
	position: absolute;
	top: 50%;
	left: 50%;
	margin: -260px 0 0 -590px;
}


